.card-style {
    -fx-background-size: 50px;
    -fx-background-radius: 30;
}

.outer-image {
    -fx-image: url("../questionmark.jpg")
}

Button {
    -fx-background-size: 100px 30px;
    -fx-background-radius: 20;
}